@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    background-color: #F5F8FF;
}

/* shared styles */
.display-flex{
    display: flex;
}

.text-dark{
    color: #252432;
}

.text-light{
    color: #8987A1;
}

.primary-color{
    color: #E95A08;
}

.primary-text{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}

.text-center{
    text-align: center;
}

.section-title{
    font-size: 45px;
    font-weight: 800;
}


/* navbar styles */
.navbar{
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    gap: 48px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.nav-item{
    list-style: none;
    font-size: 14px;
}
main{
    width: 1140px;
    margin: 0 auto;
}


/* banner styles */
.banner{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    max-width: 1140px;
    height: 461px;
    margin: 0 auto;
    margin-top: 120px;
    align-items: flex-end;

}

.banner-image{
    width: 100%;
}
.banner-details{
    width: 570px;
}

.banner-title{
    font-weight: 800;
    font-size: 46px;
    margin-bottom: -50px;
}


/* our plants section style */
.our-plants{
    margin-top: 100px;
}
.our-plants-title{
    text-align: center;
    margin-bottom: -35px;
}
.our-plants-description{
    text-align: center;
    max-width: 888px;
    margin: 0 auto;
}

.plants-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.plants-name{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: -10px;
}

.plants-price{
    font-size: 22px;
    font-weight: 800;
}

.plants-btn{
    padding: 19px 80px;
    background-color: #E95A08;
    font-size: 15px;
    font-weight: 600;
    color: white;
    border: none;
}



/* trusted seller styles */
.trusted-seller{
    margin-top: 200px;
    gap: 60px;
}
.trusted-seller-details{
    margin-left: 0;
}
.trusted-badge{
    width: 286px;
    height: 286px;
    position: relative;
    top: -740px;
    left: 360px;
    
}

/* latest-deals styls */
.latest-deals-details{
    
    max-width: 888px;
    margin: 0 auto;
    margin-top: -200px;
}

.latest-deals-title{
    margin-bottom: -35px;
}

/* latest-deal-discount styles */


.latest-deal-discount{
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 120px;
}
.discount-1{
    background-image: url("../images/deal-bloom.png"), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 367px;
    height: 206px;
    border-radius: 14px;
    margin-bottom: 20px;

}
.discount-title{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-top: 64px;
    margin-bottom: 20px;
}
.discount-link{
    color: white;
}
.discount-link-2{
    font-size: 28px;
    color: white;
}
.discount-title-2{
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 0px;
    padding-top: 172px;
}
.discount-2{
    background-image: url("../images/deal-ana.png"), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 367px;
    height: 206px;
    border-radius: 14px;

}

.discount-3{
    background-image: url("../images/deal-zabo.png"), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 753px;
    height: 437px;
    border-radius: 22px;

}

.discount-column-1{
    margin-top: 25px;
}

/* newsletter form */
.newsletter-section{
    background: url(../images/news-letter-bg.png) no-repeat center center/cover;
}
.newsletter{
    
    padding: 199px 427px;
}
.newsletter-title {
      font-size: 2.5rem;
      font-weight: bold;
      color: white;
      margin-bottom: 20px;
    }
.newsletter-form {
      display: flex;
      max-width: 830px;
      margin: 0 auto;
    }

    .newsletter-form input[type="email"] {
      flex: 1;
      padding: 15px;
      font-size: 1rem;
      border: none;
    }

    .newsletter-form button {
      padding: 0 20px;
      background-color: #E95A08;
      color: white;
      border: none;
      font-size: 1rem;
    }


/* footer navigation */
.footer{
    max-width: 1120px;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 50px;
}

.footer-logo-tagline{
    width: 359px;
}

.important-links li{
    list-style: none;
    margin-bottom: 32px;
    color: #8987A1;
}
.important-links-2 li{
    list-style: none;
    margin-bottom: 32px;
    color: #8987A1;
}
.social-media{
    margin-top: 10px;
}
.social-media img{
    margin-right: 24px;
    

}

@media screen and (max-width:576px){
    .primary-text{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}
    .hidden{
    display: none;
    }
    .banner-details{
        max-width: 361px;
        margin: 0 auto;
    order: 2;
    }
    .banner{
        grid-template-columns: repeat(1,1fr);
        margin-top: 0;
    }
    
    .banner img{
        width: 100%;
    }
    .banner-title{
        font-size: 24px;
        padding-bottom: 13px;
    }


    .navbar{
    width: 361px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    }

    nav img{
        width: 63px;
        height: 38px;
    }

    .our-plants{
        margin-bottom: -150px;
    }
    .plants-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 30px;
    }
    .plants img{
        width: 100%;
    }
    .our-plants-title{
        font-size: 24px;
        padding-bottom: 13px;
    }

    .trusted-seller{
        flex-direction: column;
        
    }
    .trusted-image{
        width: 100%;
        margin-bottom: -70px;
    }
    .trusted-seller-title{
        font-size: 24px;
    }
    .trusted-seller-title br{
        display: none;
    }
    .trusted-badge{
        display: none;
    }
    .plants-name{
    font-size: 16px;
    }

    .plants-price{
        font-size: 16px;
    }
    .plants-btn{
    padding: 19px 30px;
    background-color: #E95A08;
    font-size: 15px;
}
    .latest-deals{
        margin-top: 300px;
    }
    .latest-deal-discount{
        flex-direction: column;
    }
    .discount-3{
    background-image: url("../images/deal-zabo.png"), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 367px;
    height: 206px;
    border-radius: 14px;
    margin-top: -18px;

    }
    .discount-title-2{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-top: 64px;
    margin-bottom: 20px;
    }
    .discount-link-2{
    font-size: 16px;
    color: white;
}
    
    main{
        max-width: 393px;
        margin: 0 auto;
    }
    .newsletter{
        max-width: 321px;
        margin: 0 auto;
        padding: 110px 20px;
    }
    .newsletter-title {
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
      margin-bottom: 20px;
    }
    .footer{
        flex-direction: column;
    }
    .footer-logo-tagline{
        padding-left: 20px;
    }
    .important-links{
        margin-left: -20px;
    }
    .important-links-2{
        margin-left: -20px;
    }
    .social-media{
        padding-left: 20px;
    }
}


